@import url('https://fonts.googleapis.com/css?family=Roboto:400,600&display=swap');

*{
	box-sizing: border-box;
	font-family: 'Roboto';
}
a{
	display: inline-block;
	text-decoration: none;
}
input:focus{
	outline: none;
}
.button{
	position: relative;
	cursor: pointer;
	background: #167ac6;
	padding: 8px 18px;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
	transition: 0.1s ease;
}
.button:hover{
	background: #146eb3;
}


body{
	display: flex;
	flex-direction: column;
	margin: 0;
	background: linear-gradient(135deg, #ff0000 0% , #ff3000 100%);
	width: 100vw;
	height: 100vh;
}
header{
	display: flex;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	padding: 10px;
	background: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	margin-bottom: 15px;
}
header .logo{
	height: 100%;
	width: auto;
}
header .logo img{
	height: 100%;
	width: auto;
}
header .settings{
	display: flex;
	height: 100%;
	width: auto;
	border-left: 1px solid #ddd;
	padding-left: 10px;
}
header .settings img{
	height: 100%;
	width: auto;
	border-radius: 100%;
	margin-right: 5px;
	cursor: pointer;
}
main{
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0 20px;
}
h1{
	display: block;
	font-size: 35px;
	color: #fff;
	font-weight: 600;
}
.welcome{
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	transform: translateY(-100px);
	opacity: 0;
	display: none;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

.user .row{
	display: flex;
}
.user h1{
	margin-bottom: 60px;
	margin-top: 0;
	text-shadow: 0 2px 5px rgba(0,0,0,0.15);
}
.card{
	position: relative;
	width: 500px;
	margin: 0 auto;
}
.card::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40px;
	width: 40px;
	border-radius: 100%;
	border: 5px solid #fff;
	background: #ff0000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	z-index: 100;
}
.card-title{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	padding: 20px 20px 10px 20px;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.card-title h2{
	font-size: 16px;
	color: #ff0000;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
}
.card-inner{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 500px;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0 5px 8px rgba(0,0,0,0.15);
	background: #fff;
}


.subscriptions.card::before{
	background-image: url('../images/channels.svg');
}
.subscriptions-list{
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	padding: 10px 0;
}
.subscriptions-item{
	position: relative;
	display: flex;
	align-items: center;
	padding: 15px 20px;
	box-sizing: content-box;
	user-select: none;
	transition: 0.1s ease;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}
.subscriptions-item:last-of-type{
	border-bottom: none;
}
.subscriptions-item:hover{
	background: #f5f5f5;
	transition: 0.1s ease;
}
.subscriptions-item.selected{
	background: rgba(22, 122, 198, 0.2);
}
.subscriptions-item img{
	border-radius: 100%;
	height: 45px;
	width: 45px;
	margin-right: 15px;
}
.subscriptions-item-name{
	margin: 0;
	font-size: 14px;
	color: #333;
}
.subscriptions-item-keywords{
	color: #146eb3;
	text-transform: uppercase;
	font-size: 11px;
	border: 1px solid #146eb3;
	border-radius: 3px;
	padding: 3px 6px;
	margin-left: auto;
	transition: 0.1s ease;
}
.subscriptions-item.selected[data-type="keywords"] .subscriptions-item-keywords{
	color: #fff;
	background: #146eb3;
}
.subscriptions-item-select{
	color: #146eb3;
	text-transform: uppercase;
	font-size: 11px;
	border: 1px solid #146eb3;
	border-radius: 3px;
	padding: 3px 6px;
	margin-left: 10px;
	transition: 0.1s ease;
}
.subscriptions-item.selected[data-type="all"] .subscriptions-item-select{
	color: #fff;
	background: #146eb3;
}

.card-control{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	padding: 15px 20px;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.subcount{
	position: relative;
	font-size: 20px;
	font-weight: 600;
	color: #167ac6;
}
.subcount::before{
	content: "Selected channels :";
	display: block;
	position: absolute;
	top: -16px;
	font-weight: normal;
	color: #666;
	font-size: 11px;
	white-space: nowrap;
}
.subcount-error{
	display: block;
	position: absolute;
	bottom: -15px;
	left: 0;
	color: #ff0000;
	font-size: 11px;
	font-weight: 400;
	white-space: nowrap;
}
@keyframes loader{
	0%{
		transform: translateY(-50%) rotateZ(0deg);
	}
	100%{
		transform: translateY(-50%) rotateZ(360deg);
	}
}
.button.update.loading::before{
	content: "";
	display: block;
	position: absolute;
	left: -28px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background: url("../images/loader.svg");
	animation: loader 0.8s linear infinite;
}


.keywords.card::before{
	background-image: url('../images/keywords.svg');
}
.keywords-list{
	padding: 10px 0;
	height: 100%;
	overflow-y: scroll;
}
.keywords-item{
	position: relative;
	display: flex;
	align-items: center;
	padding: 8px 20px;
	width: 100%;
}
.keywords-input{
	border: none;
	box-shadow: inset 0 -2px 0 #146eb3;
	background: #f5f5f5;
	padding: 10px 10px;
	font-size: 14px;
	color: #333;
	width: 100%;
	transition: 0.1s ease;
}
.keywords-input:focus{
	background: rgba(22, 122, 198, 0.15);
	transition: 0.1s ease;
}
.keywords-add{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border: 2px solid #146eb3;
	background-image: url("../images/add.svg");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 100%;
	cursor: pointer;
	margin: 10px auto 10px auto;
}
.card-control .button.update{
	margin-left: auto;
}
.keywords-item-delete{
	display: block;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	background-image: url('../images/delete.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.error{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-bottom: 30px;
}
.error-privacy img{
	height: 300px;
	margin-right: 50px;
	filter: drop-shadow(0 5px 8px rgba(0,0,0,0.15));
}
.error-text h1{
	margin-top: 0;
	margin-bottom: 10px;
	text-shadow: 0 2px 5px rgba(0,0,0,0.15);
}
.error-text-solution{
	display: inline-block;
	background: #fff;
	padding: 20px 40px 20px 20px;
	border-radius: 6px;
	box-shadow: 0 5px 8px rgba(0,0,0,0.15);
}
.error-text-solution p{
	font-size: 14px;
	color: #333;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 15px;
}
.error-text-solution ul{
	font-size: 14px;
	margin-bottom: 40px;
}
.error-text-solution li{
	color: #333;
	margin-bottom: 5px;
	
}
.error-text-solution .button{
	margin: 0 auto;
}

.home{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.home .logo{
	width: 300px;
	margin-bottom: 30px;
}
.home .about{
	display: inline-flex;
	flex-direction: column;
	background: #fff;
	padding: 20px 40px 20px 20px;
	border-radius: 6px;
	box-shadow: 0 5px 8px rgba(0,0,0,0.15);
	width: 600px;
}
.home .about p{
	margin-top: 0;
}
.home .about .button{
	align-self: center;
}
.button.login{
	display: inline-flex;
	align-items: center;
}
.button.login::before{
	content: "";
	display: inline-block;
	height: 12px;
	width: 12px;
	background-image: url('../images/google-logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 10px;
}